* {
  font-family: 'TT2020F', Arial; 
  color: white;
  text-align: center;}
body {
  background-image: url("images/ribbon.png");
  width: 90%;
  margin: 0 auto;}
#content {
  overflow: auto;}
#nav, #feature, #footer {
  margin: 1%;}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}
.column3 {
  margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
#nav, #footer {
  padding: 0.5em 0;}
#feature, .article {
  height: 10em;
  margin-bottom: 1em;}

h1 {
  color: black;
}
#nav {
  background-color: red;
}
#feature {
  background-color: orange;
}
.column1 {
  background-color: brown;
}
.column2 {
  background-color: green;
}
.column3 {
  background-color: blue;
}
#footer {
  background-color: purple;
}
img.align-right {
  float: right;
  margin-left: 10px;
}
img.medium {
  width: 150px;
  height: 150px;
}
