body{
  text-align:center;
}

h1, #footer{
  background:lightblue;
  padding:10px;
  margin:10px;
  font-family: 'SetpersetRegular';
  color:white;
}

#container{
  margin-left:10%;
  margin-right:10%;
  margin-bottom:5%;
}

.row{
  position:relative;
  margin-left:60px;
  margin-right:60px;
}

.white{
  border: 1px solid black;
  width: 60px;
  height: 60px;
  background-color:white;
  float:left;
}

.black{
  border: 1px solid black;
  width: 60px;
  height: 60px;
  background-color:#787878;
  float:left;
}

.clear{
  clear:both; 
}

body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}
