* {
	font-family: 'Consolas', monospace; /* everything is in consolas */
}
body {
	background-image: url("../images/ribbon.png"); /* the bg of every page */
}
h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}
p, label, div {
	color: white;
}

p {
	margin: 0px;
}

.centered {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
}

.centered_img { /* images are centered in a different way than standard divss and thus need a separate class */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bullet { /* bullet points, just adds padding on the right and bottom */
	padding: 0px 0px 30px 30px;
}


/* all of these validation styles are for the table on "validated.html" */
.validation-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.validation-row {
    display: flex;
    flex-direction: row;
}

.validation-row.header {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}

.validation-cell {
    flex: 1;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: maroon;
}

.validation-row.header .validation-cell {
    background-color: #04AA6D;
    color: white;
}


/* the navigation bar at the top of the page on all pages */
#nav {
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;  /* Locks it in place */
	top: 0;           /* Sticks it to the top */
	width: 100%;
	color: blue;
	background-color: pink;
}

/* errors specifically only show up on the "contact.html" */
.error {
	color: red;
	background-color: white;
}
