* {
	font-family: 'Consolas', monospace;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("../images/ribbon.png");
}
#nav {
	color: red;
	background color: red;
}
