* {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Consolas', monospace;
}
body {
	background-image: url("../images/ribbon.png");
}
h1 {
	color: green;
}
div {
	color: red;
	background-color: blue;
}
